# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Keil 项目忽略规则
*.uvopt
*.uvoptx
*.uvguix.*
*.bak
*.o
*.obj
*.hex
*.bin
*.map
*.lst
*.13048
*.uvgui.13048
Objects/
Listings/
.vscode/

#过滤掉不想要文件和文件夹
*.exe
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.ipch
Debug/
.vs
Release/
相关资料/
.相关资料/
平衡车/
DebugConfig/




# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
